<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<!-- Mi cadena de conexion local donde probe la aplicacion -->
	<connectionStrings>
		    <add name="MiConexion" connectionString="Data Source=DESKTOP-90UV9EI;Initial Catalog=pruebademo;Integrated Security=True" providerName="System.Data.SqlClient" />
   	</connectionStrings>
 	
	
	<!--<connectionStrings>
	        <add name="MiConexion" connectionString="Server=localhost;Database=pruebademo;Uid=sa;Pwd=sasa;MultipleActiveResultSets=True;Timeout=120;" providerName="System.Data.SqlClient" />
    </connectionStrings>-->

	<!--<system.diagnostics>
        <sources>
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" 
                 initializeData="C:\Logs\FileLogWriter.log"/>
        </sharedListeners>
    </system.diagnostics>-->
</configuration>

